<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.liueq.keyper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.liueq.keyper.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.liueq.keyper">
        </instrumentation>

        <uses-library android:name="android.test.runner"/>

        <activity
            android:name="com.liueq.keyper.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.liueq.keyper.ui.accountdetail.AccountDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.liueq.keyper.ui.launch.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.liueq.keyper.ui.settings.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.liueq.keyper.ui.tagdetail.TagDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.liueq.keyper.ui.advancesearch.AdvanceSearchActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>